# 監視用サービス。
services:
  receiver:
    image:  otel/opentelemetry-collector-k8s:0.140.1
    command: ["--config=/etc/otel/config.yaml"]
    restart: always
    tty: true
    configs:
      - source: collector
        target: /etc/otel/config.yaml
    ports:
      - "24224:24224"
    networks:
      - monitoring_

  lgtm:
    image: grafana/otel-lgtm:0.11.18
    container_name: lgtm
    restart: always
    tty: true
    expose:
      - "4317:4317"
      - "4318:4318"
    ports:
      - "3000:3000"
    networks:
      - monitoring_

configs:
  collector:
    file: ./collector.yaml
networks:
  monitoring_:
    name: monitoring_
    external: true #既に存在する場合は、external: trueにしてください。
